<div class="panel panel-default">
<div class="panel-heading"><h1>Editing Pin</h1></div>


<%= render 'form' %>
<div class="panel-body"> 
<div class="form-group">
<%= link_to 'Show', @pin , class: "btn btn-primary" %>
<%= link_to 'Back', pins_path , class: "btn btn-info" %>
</div>
</div>

</div>