<%= render "pins/index" %>
<div class="panel panel-default">
<div class="panel-heading"><h1>New Pin</h1></div>


<%= render 'form' %>
<div class="panel-body"> 
	<div class="form-group">
	<%= link_to 'Go Back', pins_path, class: "btn btn-info" %>
	</div>
</div>

</div>
