
<div class="jumbotron">
	<h1> About PinApp </h1>
	<p> PinApp helps you share your greatest startup ideas with your team and the world. Go ahead and express yourself and your aspirations to starting a company with just one idea and an Image worth a 1000 words. </p>

	<h2> Hapy Pinning! </h2>
</div>
