

<div class="jumbotron">
	<h1> About PinApp </h1>
	<p> PinApp helps you share your greatest life moments with you friends, family and strangers on the internet. Go ahead and express yourself and pin everyone else' greatest life moments with yours. </p>

	<h2> Hapy Pinning! </h2>
</div>
