
<div class="jumbotron">
	<h1> How to use the PinApp </h1>
	<p> If you are lost, we are here to help :) </p>

	<hr>
	<p> Using the PinApp is easy... Just follow the steps below: </p>
	<ul>
		<li>Find an image that you would like to Pin... prefereably one that is worth a 1000 pins </li>
		<li>Write a description for the Pin and share with everyone!</li>

	</ul>

	<p>Comments section coming soon!</p>

	<h2> Hapy Pinning! </h2>
</div>
