
<div class="jumbotron">
	<h1> How to use the PinApp </h1>
	<p> If you are lost, we are here to help :) </p>

	<hr>
	<p> Using the PinApp is easy... Just follow the steps below: </p>
	<ul>
		<li>Find an image for your idea that you would like to Pin... prefereably one that is worth a 1000 ideas </li>
		<li>Give your idea a title and description for the Startup Idea and share with everyone!</li>

	</ul>

	<p>Comments section and long idea description have been added, so you can better express your ideas and share your thoughts.</p>

	<h2> Hapy Pinning! </h2>
</div>
