<footer class="footer">
      <div class="container">
      <div class="row">
      	<div class="col-md-6">
      		<p class="">PinApp Copyright <%= Time.current.year %></p>
      	</div>
      	<div class="col-md-6 ">
      		<p class="pull-right">Check out my <a href="https://github.com/basilkhan05" target="_blank">Github Account</a></p>
      	</div>

      </div>
        
      </div>
</footer>